ci:
    autoupdate_schedule: quarterly
repos:
- repo: https://github.com/psf/black
  rev: 24.10.0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 7.1.1
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear>=23.1.20
    - flake8-absolute-import
    - flake8-pytest-style
    - flake8-no-pep420
- repo: https://github.com/asottile/yesqa
  rev: v1.5.0
  hooks:
    - id: yesqa
- repo: https://github.com/asottile/pyupgrade
  rev: v3.17.0
  hooks:
  - id: pyupgrade
    exclude: openff/recharge/_version.py|setup.py
    args:
    - --py310-plus
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.8.7
  hooks:
  - id: nbqa-pyupgrade
    files: ^examples
    args:
    - --py38-plus
  - id: nbqa-isort
    files: ^examples
- repo: https://github.com/kynan/nbstripout
  rev: 0.7.1
  hooks:
  - id: nbstripout
    files: ^examples
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.8.7
  hooks:
  - id: nbqa-isort
  - id: nbqa-flake8
    args:
    - --select=F
