name: tests

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}, ${{ matrix.toolkits }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - "ubuntu-latest"
        python-version:
          - "3.11"
          - "3.12"
        toolkits:
          - "rdkit_and_openeye"
          - "rdkit"

    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt

    steps:
      - uses: actions/checkout@v6

      - name: Setup Conda Environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: devtools/conda-envs/test_env_${{ matrix.toolkits }}.yaml
          create-args: >-
            python=${{ matrix.python-version }}

      - name: License OpenEye
        if: ${{ matrix.toolkits != 'rdkit' }}
        shell: bash -l {0}
        run: |

          echo "${SECRET_OE_LICENSE}" > ${OE_LICENSE}
          python -c "from openeye import oechem; assert oechem.OEChemIsLicensed()"

        env:
          SECRET_OE_LICENSE: ${{ secrets.OE_LICENSE }}

      - name: Install Package
        shell: bash -l {0}
        run: |
          python -m pip install -e .

      - name: Conda Environment Information
        shell: bash -l {0}
        run: |
          conda info
          conda list

      - name: Run Tests
        shell: bash -l {0}
        run: |
          python -c "from openff.toolkit import *"
          pytest -x -n auto --cov=openff openff/recharge/_tests/ --cov-report=xml

      - name: CodeCov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          disable_search: true
          fail_ci_if_error: true
